.card-container {
  border: 3px solid #b8a793;
  border-radius: 1px;
  background-color: #E9E9E9;
  box-shadow: 0 1px 16px rgba(0, 0, 0, 0.15), 20px 20px 20px rgba(0, 0, 0, 0.01);
  font-size: 1.5em;
  padding: 1.5em 1em;
  overflow: hidden;
  min-height: 300px;
  max-width: 350px;
}
.card-container-layout {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 100;
  gap: 24px;
}
.card-container::before {
  content: "";
  background-color: #b8a793;
  position: absolute;
  top: -250px;
  left: -100px;
  width: 200px;
  height: 500px;
  z-index: 0;
  transform: rotateZ(45deg);
  transition: transform 0.25s;
}
.card-container:hover::before {
  transform: rotateZ(45deg) translate(20%, 20%);
}
.card-container > * {
  z-index: 1;
}

.card-title-layout {
  padding: 0;
}

.card-list-layout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 32px;
  justify-content: center;
  width: 100%;
  margin-bottom: 64px;
}

.card-image {
  min-width: 50px;
  max-width: 150px;
}

/*# sourceMappingURL=Card.css.map */
