.contact-container {
  position: relative;
  width: 50%;
  margin: auto;
  transition: width 0.3s;
}

@media screen and (max-width: 990px) {
  .contact-container {
    width: 80%;
  }
}
@media screen and (max-width: 425px) {
  .contact-container {
    width: 99%;
  }
}
.form {
  margin: 16px;
}
.form-layout {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

textarea {
  resize: none;
  min-height: 300px;
}

.text-area-layout {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  position: relative;
}
.label > span {
  font-size: 20px;
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
  color: #3F3F3F;
  position: absolute;
}
.label > span.input-default {
  padding-left: 8px;
  transition: 0.3s;
  top: 50%;
  transform: translateY(-50%);
}
.label > span.input-default.focused {
  transform: translateY(-185%);
  font-size: 16px;
  background-color: #fff;
  padding: 0 5px;
  margin-left: 10px;
}
.label > span.textarea-default {
  padding-left: 8px;
  transition: 0.3s;
  top: 0;
  padding-top: 10px;
}
.label > span.textarea-default.focused {
  transform: translateY(-50%);
  font-size: 16px;
  background-color: #fff;
  padding: 0 5px;
  margin-left: 10px;
}

.input-element, .text-area-element {
  width: 100%;
  padding: 8px;
  height: 48px;
  font-size: 24px;
}

.contact-button {
  border: none;
  background-color: #61dafb;
  max-width: 150px;
  font-size: 16px;
  padding: 8px 24px;
  border-radius: 4px;
  align-self: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.contact-button:active {
  transform: translateY(2px) translateX(2px);
}

/*# sourceMappingURL=Contact.css.map */
