

.contact-container{
  position: relative;
  width: 50%;
  margin: auto;
  transition: width 0.3s;
}
@media screen and (max-width: 990px){
  .contact-container{
    width: 80%;
  }
}

@media screen and (max-width: 425px){
  .contact-container{
    width: 99%;
  }
}

.form{
  margin: 16px;
  &-layout{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

textarea{
  resize: none;
  min-height: 300px;
}

.text-area{
  &-layout{
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

@mixin input_focused($translate){
  padding-left:8px ;
  transition: 0.3s;
  &.focused{
    transform: translateY($translate);
    font-size: 16px;
    background-color: #fff;
    padding: 0 5px;
    margin-left: 10px;
  }
}

.label{
  position: relative;
  & > span {
    font-size: 20px;
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
    color: #3F3F3F;
    position: absolute;
    &.input-default{
      @include input_focused(-185%);
      top: 50%;
      transform: translateY(-50%);
    }
    &.textarea-default{
      @include input_focused(-50%);
      top: 0;
      padding-top: 10px;
    }
  }
}

.input-element, .text-area-element{
  width: 100%;
  padding: 8px;
  height: 48px;
  font-size: 24px;
}

.contact-button{
  border: none;
  background-color: #61dafb;
  max-width: 150px;
  font-size: 16px;
  padding: 8px 24px;
  border-radius: 4px;
  align-self: center;
  cursor: pointer;
  transition: transform 0.2s;
}
.contact-button:active{
  transform: translateY(2px) translateX(2px);
}
