@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
.main {
  min-height: 100vh;
  background: var(--bg);
  padding: 0 100px;
  margin-top: 30px;
}
.main-layout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.picture {
  display: flex;
  padding: 3px;
}

.container {
  display: flex;
  flex-direction: row;
  border: solid 3px #b8a793;
  width: 100%;
  gap: 50px;
  margin-bottom: 24px;
}

.content .text {
  font-family: "VT323", monospace;
  color: #b8a793;
  font-size: 3rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.border-wrapper {
  border-right: 3px solid #b8a793;
}

@media (max-width: 1230px) {
  .picture > img {
    width: 250px;
  }

  .content {
    gap: 8px;
  }
  .content .text {
    font-size: 2.5rem;
  }
}
@media (max-width: 850px) {
  .border-wrapper {
    border-right: none;
    border-bottom: 3px solid #b8a793;
  }

  .content {
    margin-bottom: 24px;
  }

  .content .text {
    text-align: center;
    font-size: 3rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    border: solid 3px #b8a793;
    gap: 24px;
    max-width: 512px;
  }

  .picture > img {
    width: 100%;
  }
}
@media (max-width: 715px) {
  .main {
    padding: 0 10px;
  }

  .container {
    max-width: none;
  }
}

/*# sourceMappingURL=Home.css.map */
