@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
:root {
  --black: #2F2F2F;
  --red: #f83038;
  --bg: linear-gradient(#FFF, #E1E1E1);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}

/*# sourceMappingURL=App.css.map */
