.logo {
  min-width: 80px;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 16px rgba(0, 0, 0, 0.15), 0 20px 20px rgba(0, 0, 0, .03);
  padding: 15px 20px;
  background-color: #F1F1F1;
  position: sticky;
  top: 0;
  z-index: 10000;
}

.links {
  display: flex;
  gap: 40px;

  & li {
    list-style: none;

    & a {
      text-decoration: none;
      color: var(--black);
      transition: 0.25s;
      font-size: 1.5rem;

      &:hover {
        color: #b8a793;
      }
    }
  }
}


@media (max-width: 990px) {
  .nav-dropdown-button {
    position: relative;
    width: 32px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;

    &.active {
      &::before {
        transform: translateY(0) rotate(45deg);
        box-shadow: 0 0 0 #000;
      }

      &::after {
        transform: translateY(0) rotate(-45deg);
      }
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #000;
      transform: translateY(-10px);
      transition: 0.25s;
      box-shadow: 0 10px 0 #000;
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #000;
      transform: translateY(10px);
      transition: 0.25s;
    }
  }
  .links {
    display: none;
  }
  .links.active {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 25px;
    top: 30px;
    right: 20px;
    background-color: #F1F1F1;
    padding: 24px;
    border-radius: 5px;
    box-shadow: 0 1px 16px rgba(0, 0, 0, 0.15), 0 20px 20px rgba(0, 0, 0, .03);
    z-index: 999;
  }
}
